.auth-page {
  height: calc(100vh);
  background: linear-gradient(
      rgba(255, 246, 243, 0.7),
      rgba(255, 246, 243, 0.7)
    ),
    url("../../assets/images/fashion-bg.png") right no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    margin-bottom: $spacing-medium;
  }
  .links-container {
    display: flex;
    width: 250px;
    justify-content: space-between;
  }
  a {
    color: $blueColor;
    font-size: 14px;
    margin-top: $spacing-xsmall;
    text-decoration: none;
  }
  form {
    display: flex;
    flex-direction: column;
    label {
      display: flex;
      flex-direction: column;
      margin-bottom: $spacing-xsmall;
      input {
        border: solid 1px $darkBlueColor;
        border-radius: 5px;
        height: 34px;
        width: 270px;
        background-color: $lightOrangeColor;
        padding: 0 $spacing-xsmall;
        &:-webkit-autofill,
        &:-webkit-autofill:focus {
          box-shadow: inset 0 0 0 100px rgba(255, 246, 243, 1);
        }
      }
    }
    button {
      margin: $spacing-medium auto 0;
    }
  }
}

@media (min-width: 860px) {
  .auth-page {
    background: url("../../assets/images/fashion-bg.png") right;
    background-size: cover;
    .links-container {
      width: 380px;
    }
    a {
      font-size: 20px;
      margin-top: $spacing-small;
    }
    form {
      label {
        margin-bottom: $spacing-small;
        font-size: 24px;
        input {
          height: 55px;
          width: 600px;
          padding: 0 $spacing-small;
          font-size: 20px;
        }
      }
      button {
        margin: $spacing-medium auto 0;
      }
    }
  }
}
