#Home {
  .Hero {
    min-height: calc(100vh - 60px);
    background: linear-gradient(
        rgba(255, 246, 243, 0.7),
        rgba(255, 246, 243, 0.7)
      ),
      url("../../assets/images/main-bg.png") right no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $spacing-large;
    h1 {
      color: $pinkColor;
      width: 305px;
    }
    p {
      width: 305px;
    }
    div {
      text-align: center;
      .link-btn {
        font-size: 14px;
        margin-top: $spacing-xsmall;
        color: $blueColor;
      }
    }
  }
  .special-features {
    background-color: $babyBlueColor;
    padding: 2rem;
    header {
      max-width: 305px;
      display: flex;
      margin: auto;
      align-items: center;
      justify-content: space-between;
      h2 {
        width: 180px;
      }
      img {
        width: 90px;
        object-fit: cover;
      }
    }
    div {
      display: flex;
      flex-wrap: wrap;
      gap: $spacing-medium;
      justify-content: center;
      margin-top: $spacing-large;
      max-width: 305px;
      align-items: center;
      margin: $spacing-large auto;
    }
    .special-item {
      background: url(../../assets/images/sticky-note.png) no-repeat center
        center;
      background-size: contain;
      width: 280px;
      height: 275px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: $spacing-large;
      img {
        width: 40px;
        position: absolute;
        top: 40px;
        left: 40px;
      }
      p {
        width: 155px;
        text-align: center;
        margin-top: $spacing-large;
      }
    }
  }
  .start {
    background-color: $lightPinkColor;
    padding: 2rem;
    header {
      max-width: 305px;
      display: flex;
      margin: auto;
      align-items: center;
      justify-content: space-between;
      h2 {
        width: 170px;
      }
      img {
        width: 120px;
        object-fit: cover;
      }
    }
    ul {
      max-width: 305px;
      margin: $spacing-medium auto;
      li {
        list-style: none;
        font-size: 20px;
        font-weight: bold;
        img {
          width: 20px;
          float: left;
          margin-right: $spacing-xsmall;
        }
      }
    }
  }
}

@media (min-width: 860px) {
  #Home {
    .Hero {
      min-height: calc(100vh);
      padding: 2rem;
      background: url("../../assets/images/main-bg.png") right;
      background-size: cover;
      padding-left: 10%;
      align-items: flex-start;
      h1 {
        max-width: 850px;
        width: 50%;
      }
      p {
        max-width: 850px;
        width: 50%;
      }
      div {
        .link-btn {
          font-size: 20px;
          margin-top: $spacing-small;
          color: $blueColor;
        }
      }
    }
    .special-features {
      background-color: $babyBlueColor;
      padding: 4rem;
      header {
        max-width: 850px;
        justify-content: space-between;
        h2 {
          width: 330px;
        }
        img {
          width: 300px;
        }
      }
      div {
        gap: $spacing-medium;
        margin-top: $spacing-xlarge;
        max-width: 925px;
      }
      .special-item {
        width: 290px;
        height: 280px;
        img {
          top: 40px;
          left: 40px;
          width: 40px;
        }
        p {
          width: 225px;
        }
      }
    }
    .start {
      background-color: $lightPinkColor;
      padding: 4rem;
      header {
        max-width: 850px;
        position: relative;
        h2 {
          width: 300px;
        }
        img {
          position: absolute;
          right: 0;
          width: 350px;
          top: 10px;
        }
      }
      ul {
        max-width: 850px;
        margin: $spacing-xlarge auto;
        li {
          font-size: 32px;
          margin-bottom: $spacing-medium;
          img {
            width: 35px;
          }
        }
      }
    }
  }
}
