// Main Colors
$lightPinkColor: #fff6f3;
$pinkColor: #f54b4e;
$whiteColor: #fff;
$lightOrangeColor: #fff7e3;
$darkBlueColor: #49506b;
$orangeColor: #fbc770;
$babyBlueColor: #cdede3;
$blueColor: #4663f4;

//Main spacing styles
$spacing-xsmall: 8px;
$spacing-small: 16px;
$spacing-medium: 24px;
$spacing-large: 32px;
$spacing-xlarge: 46px;
